

  tr {
     &:hover {
      background: #f4f4f4;
      
      td {
        color: #555;
      }
    }
  }
  th, td {
    color: #999;
    border: 1px solid #eee;
    padding: 12px 35px;
    font-size: 12px;
    font-family: "Gill Sans", sans-serif;
    border-collapse: collapse;
  }
  th {
    background: #5c5757;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    &.last {
      border-right: none;
    }
  }
